<form class="{{cssClass}} archmage-vue" autocomplete="off">
  <div class="flexrow">
    <button class="copy-new-yaml">Copy new YAML</button>
    <input type="text" name="filter" class="monster-filter" value="{{filter}}" autofocus>
  </div>
  <div class="flexcol">
    <table>
      <thead>
        <th>Name</th>
        <th></th>
        <th>Token Art</th>
      </thead>
      <tbody>
        {{#each monsters}}
        <tr class="monster-row" data-name="{{name}}">
          <td>{{name}}</td>
          <td>
            <button class="choose-artwork" data-actor-id="{{_id}}">Choose artwork</button>
          </td>
          {{#if newMapEntry}}
          <td>
            <img data-tooltip='<img src="{{newMapEntry.actor}}">' height="50px" src="{{newMapEntry.actor}}">
          </td>
          <td>
            <img data-tooltip='<img src="{{newMapEntry.token.img}}">' height="50px" src="{{newMapEntry.token.img}}">
          </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</form>
